<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog|}}
  <div class='col-6 blog'>
    <div class='card p-2 bg-light shadow'>
      <h2>
        <a href='/blogs/{{blog.id}}' class='text-dark'>{{blog.name}}</a>
      </h2>

      <p>Created on
        {{format_date blog.date_created}}</p>
    </div>
  </div>
{{/each}}